/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
    
/* Clase fixed-width container que se "autocentrará" a sí misma */
.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-color: #d5d5d5;
}

body{
  font-family: Roboto;
}

/* Estilo boton favorito */
.btn {
  margin: 5px;
  padding: 3px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 300ms;
}

.btn:hover {
  background-color: #000082;
}

/* estilo navbar flexible */

.nav{
  display: flex;
  justify-content: space-between;
  background-color: #252525;
  color: white;
  font-family: Roboto;
  padding: 10px 1.5%;
}

/* estilo label-input */

.item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  box-sizing: border-box;
}
.item label {
  flex: 1;
}

input {
  flex: 5;
  padding: 2px;
  border: none;  
  border-radius: 15px;
}

/* otros estilos */

a {
  text-decoration: none;
  color: #454545;
}

li {
  list-style: none;
}